<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.esri.mapper.StatusNS">


    <select id="searchByDistinct" parameterType="map" resultType="Status">
        select id,car_id,lon,lat,speed,azimuth,passenger_status,receive_time from data_1
        where (receive_time between #{start_time} and #{end_time}) and ST_Intersects(ST_GeomFromText('point('||lon||' '||lat||')')
        ,ST_GeomFromGeoJSON(#{district_geojson}))
        <!--select id,car_id,lon,lat,speed,azimuth,passenger_status,receive_time from processed_data-->
        <!--where receive_time = #{start_time} and ST_Intersects(ST_GeomFromText('point('||lon||' '||lat||')')-->
        <!--,ST_GeomFromGeoJSON(#{district_geojson}))-->
    </select>
    <select id="selectTest" parameterType="DistinctQuery" resultType="Status">
        select id,car_id,lon,lat,speed,azimuth,passenger_status,receive_time from data_1
        where receive_time = #{start_time}
    </select>

    <select id="createBuffers" parameterType="map" resultType="map">
        SELECT ST_AsGeoJSON(ST_Buffer(
        ST_GeomFromGeoJSON(#{polylines_geojson} ), #{radius}, 'endcap=round join=round'))
        as buffers_geojson
    </select>

    <select id="searchByBuffers" parameterType="map" resultType="Status">
        select id,car_id,lon,lat,speed,azimuth,passenger_status,receive_time from data_1
        where (receive_time between #{start_time} and #{end_time}) and ST_Intersects(ST_GeomFromText('point('||lon||' '||lat||')')
        ,ST_GeomFromGeoJSON(#{buffers_geojson}))
    </select>
    <select id="searchCountByGeometry" parameterType="map" resultType="int">
        select count(*) from data_1
        where (receive_time between #{start_time} and #{end_time}) and ST_Intersects(ST_GeomFromText('point('||lon||' '||lat||')')
        ,ST_GeomFromGeoJSON(#{buffers_geojson}))
    </select>

</mapper>