<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.esri.mapper.TrackMapper">
    <select id="getStartPoint" resultType="Map">
        select * from
        (select
        ST_X(point_start) as x,ST_Y(point_start) as y,time_start,point_start,
        ST_ClusterDBSCAN(point_start,eps:= ${eps}, minpoints:= ${min}) over () AS cid
        from ${table}
        where time_start between '${timeStart}' and '${timeEnd}') as a
        where a.cid is not null
    </select>
    <select id="getEndPoint" resultType="Map">
        select * from
        (select
        ST_X(point_end) as x,ST_Y(point_end) as y,time_start,point_end,
        ST_ClusterDBSCAN(point_end,eps:= ${eps}, minpoints:= ${min}) over () AS cid
        from ${table}
        where time_start between '${timeStart}' and '${timeEnd}') as a
        where a.cid is not null
    </select>
</mapper>

