<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.esri.mapper.UtilsNS">

    <select id="getDistance" parameterType="map" resultType="double">
        select ST_Distance(ST_GeomFromGeoJSON(#{point}), ST_GeomFromGeoJSON(#{polyline}))
    </select>

    <select id="getNearnestPoint" parameterType="map" resultType="map">
        select ST_AsGeoJSON(ST_ClosestPoint(ST_GeomFromGeoJSON(#{point}), ST_GeomFromGeoJSON(#{geometry}))) as closest_point;
    </select>

</mapper>